@import url('../../vendor/normalize.css');
@import url('../../vendor/fonts.css');
@import url('../../vendor/fa/css/font-awesome.css');

@import url('../../blocks/saved-news/standart-text/standart-text.css');
@import url('../../blocks/saved-news/link/link.css');
@import url('../../blocks/saved-news/button/button.css');

@import url('../../blocks/saved-news/header-section/header-section.css');
@import url('../../blocks/saved-news/search-result/search-result.css');
@import url('../../blocks/saved-news/footer-section/footer-section.css');
@import url('../../blocks/saved-news/title-section/title-section.css');

.page {
    /* border: 1px solid; */
}