@import url('./__about/body-section__about.css');
@import url('./__author-about/body-section__author-about.css');
@import url('./__photo/body-section__photo.css');
@import url('./__title/body-section__title.css');


.body-section {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}