.header__link-auth {
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 12px;
}

@media screen and (min-width: 768px) and (max-device-width: 1023px){
    .header__link-auth {
        width: 152px;
        border: 1px solid #fff;
        box-sizing: border-box;
        border-radius: 100px;
        padding: 8px;
        text-align: center;
        font-family: Roboto,Arial,Helvetica,sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
    }
}