@import url('./_hidden/popup-section__general-err_hidden.css');

.popup-section__general-err {
    position: absolute;
    /* margin: 0px; */
    left: 155px;
    color: red;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .popup-section__general-err {
        position: unset;
        width: fit-content;
        align-self: center;
        margin: 0;
        margin-top: 56px;
        color: red;
        font-family: Inter,Arial,Helvetica,sans-serif;
        font-size: 12px;
        line-height: 15px;
        font-weight: 400;
    }
}