.search-result__mark {
    background-image: url('../../../images/icons/mark-native.svg');
    background-repeat: no-repeat;
    border: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}

/*  */
.search-result__mark:focus { 
    background-image: url('../../../images/icons/mark-marked.svg');
    background-repeat: no-repeat;
}

.search-result__mark:hover {
    background-image: url('../../../images/icons/mark-hover.svg');
    background-repeat: no-repeat;
    transition: 0.8s;
}



