.author-section__author-about {
    max-width: 600px;
}

@media screen and (min-width: 320px) and (max-device-width: 767px) {
    .author-section__author-about {
        max-width: unset;
    }
}

@media screen and (min-width: 768px) and (max-device-width: 1023px){
    .author-section__author-about {
        margin: 16px 0 0 0;
    }
}