@import url('./_hidden/search-result__card_hidden.css');

.search-result__card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    height: 576px;
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 20px;
    background-color: white;
}

@media screen and (min-width: 320px) and (max-device-width: 767px) {
    .search-result__card {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 288px;
        height: auto;
        margin-bottom: 10px;
        border-radius: 20px;
        background-color: #fff;
    }
}