@import url('./__paragraph/search-error__paragraph.css');
@import url('./__title/search-error__title.css');
@import url('./_hidden/search-error_hidden.css');

.search-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 18px;
    color: black;
    height: 550px;
    text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .search-error {
        height: 380px;
    }
}