@import url('./_hidden/popup-section__alert_hidden.css');

.popup-section__alert {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #FFFFFF;
    /* height: 380px; */
    /* width: 430px; */
    width: 367px;
    padding: 34px 36px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 20px;
}