.author-section__title {
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: black;
    margin: 0 0 24px 0;
}

@media screen and (min-width: 320px) and (max-device-width: 767px) {
    .author-section__title {
        font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 30px;
        line-height: 40px;
        color: #000;
        margin: 0;
        margin-top: 24px;
    }
}

@media screen and (min-width: 768px) and (max-device-width: 1023px){
    .author-section__title {
        font-size: 30px;
        line-height: 40px;
        margin: 0;
    }
}