@import url('./_hidden/popup-section__mini-menu-popup_hidden.css');

.popup-section__mini-menu-popup {
    
}


@media screen and (min-width: 320px) and (max-device-width: 480px) {
    .popup-section__mini-menu-popup {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 56px;
        width: -webkit-fill-available; 
    }
}

