@import url('./_hidden/popup-section__mini-menu-popup_hidden.css');

.popup-section__mini-menu-popup {
    
}


@media screen and (min-width: 320px) and (max-width: 480px) {
    .popup-section__mini-menu-popup {
        display: flex;
        position: relative;
        flex-direction: column;
        background-color: #1A1B22;
        width: -webkit-fill-available;
        height: 286px;
    }
}

