.author-section__about {
    width: 600px;
    margin-top: 51px;
}

@media screen and (min-width: 320px) and (max-device-width: 767px) {
    .author-section__about {
        width: unset;
        margin-top: 0px;
        padding: 0 5%;
    }
}

@media screen and (min-width: 768px) and (max-device-width: 1023px){
    .author-section__about {
        width: auto;
        margin: 0;
    }
}