.search-result__card-image-container {
    height: 272px;
}

@media screen and (min-width: 320px) and (max-device-width: 767px) {
    .search-result__card-image-container {
        height: 196px;
    }
}

@media screen and (min-width: 768px) and (max-device-width: 1023px) {
    .search-result__card-image-container {
        height: 150px;
    }
}