.search-result__date {
    font-family: "Source Sans Pro", "Arial", "Helvetica", "sans-serif";
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    height: 24px;
    color: #B6BCBF;
    margin: 0px;
    margin-top: 20px;
}

@media screen and (min-width: 320px) and (max-device-width: 767px) {
    .search-result__date {
        font-family: "Source Sans Pro", Arial, Helvetica, "sans-serif";
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        height: 24px;
        color: #b6bcbf;
        margin: 16px 0 0;
    }
}

@media screen and (min-width: 768px) and (max-device-width: 1024px){
    .search-result__date {
        margin: 0px;
    }
}