@import url('./_hidden/search-result__mark-alert_hidden.css');

.search-result__mark-alert {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;
    margin: 0px;
}