.title-section__description_bold {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

@media screen and (min-width: 320px) and (max-device-width: 480px) {
    .title-section__description_bold {
        margin: 0px;
    }
}