.footer-section__navigation {
    margin-right: 104px;
    align-self: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer-section__navigation {
        display: flex;
        width: -webkit-fill-available;
        margin-top: 20px;
        margin-right: 0px;
        align-self: unset;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .footer-section__navigation {
        margin-right: 40px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1356px) {
    .footer-section__navigation {
        margin-right: 54px;
    }
}