.search-section__search-button {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    line-height: 24px;
    font-weight: 500;
    font-size: 18px;

    position: absolute;
    right: 0;
    height: 60px;
    width: 168px;
    background-color: #2f71e5;
    color: #fff;
    border: 1px;
    border-radius: 100px;
    cursor: pointer;
}

.search-section__search-button:hover {
    transition: 0.5s;
    background-color: #347EFF;
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .search-section__search-button {
        position: unset;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        line-height: 24px;
        font-weight: 500;
        font-size: 18px;
        height: 56px;
        width: 100%;
        background-color: #2f71e5;
        color: #fff;
        border: 1px;
        border-radius: 100px;
        cursor: pointer;
    }
}