.popup-section__button {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #b6bcbf;
    background: #e6e8eb;
    width: 358px;
    height: 64px;
    margin-top: 26px;
    border: 1px solid rgba(128, 128, 128, 0);
    border-radius: 100px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .popup-section__button {
        width: 100%;
    }
}