@import url('./__link-logout-button/popup-section__link-logout-button.css');
@import url('./__link-main-page/popup-section__link-main-page.css');
@import url('./__link-saved/popup-section__link-saved.css');
@import url('./__mini-menu-close/popup-section__mini-menu-close.css');
@import url('./__mini-menu-logo-container/popup-section__mini-menu-logo-container.css');
@import url('./__mini-menu-logo/popup-section__mini-menu-logo.css');
@import url('./__mini-menu-navigation/popup-section__mini-menu-navigation.css');
@import url('./__mini-menu-popup-header/popup-section__mini-menu-popup-header.css');
@import url('./__mini-menu-popup/popup-section__mini-menu-popup.css');
@import url('./_hidden/popup-section_hidden.css');
@import url('./__link-auth-button/popup-section__link-auth-button.css');

.popup-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 77%);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup-section {
        display: unset;
        background-color: unset;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000c2;
    }
}