@import url('./__navigation/header__navigation.css');
@import url('./__logo/header__logo.css');
@import url('./__link-auth/header__link-auth.css');
@import url('./__link-logo/header__link-logo.css');
@import url('./__link-main-page/header__link-main-page.css');
@import url('./__link-logout/header__link-logout.css');
@import url('./__link-saved/header__link-saved.css');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid;
    border-color: #d1d2d6;
    /* background-color: #f5f6f7; */
}