@import url('./__navigation/header__navigation.css');
@import url('./__logo/header__logo.css');
@import url('./__link-auth/header__link-auth.css');
@import url('./__link-logo/header__link-logo.css');
@import url('./__link-main-page/header__link-main-page.css');
@import url('./__link-logout/header__link-logout.css');
@import url('./__link-saved/header__link-saved.css');

@import url('./__mini-menu-container/header-section__mini-menu-container.css');



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid;
    border-color: #e8e5e5;
}

@media screen and (min-width: 320px) and (max-device-width: 767px){
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* width: 100%; */
        height: 56px;
        border-bottom: 1px solid;
        border-color: #e8e5e5;
        padding: 0 5%;
    }
}

@media screen and (min-width: 768px) and (max-device-width: 1023px){
    .header {
        height: 66px;
    }
}

