.search-result__card-info-container {
    margin-left: 24px;
}

@media screen and (min-width: 320px) and (max-device-width: 767px) {
    .search-result__card-info-container {
        margin-left: 16px;
    }
}

@media screen and (min-width: 768px) and (max-device-width: 1023px){
    .search-result__card-info-container {
        margin-left: unset;
        padding: 16px;
    }
}