@import url('./__about/author-section__about.css');
@import url('./__author-about/author-section__author-about.css');
@import url('./__photo/author-section__photo.css');
@import url('./__title/author-section__title.css');


.author-section {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

@media screen and (min-width: 320px) and (max-device-width: 480px) {
    .author-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 32px;
        margin-bottom: 80px;
        width: 100%;
    }
}