.popup-section__link-auth-button {
    /* text-decoration: none;
    color: #2f71e5; */
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .popup-section__link-auth-button {
        border: 1px solid white;
        box-sizing: border-box;
        border-radius: 100px;
        padding: 12px;
        text-align: center;
        color: white;
        margin: 40px 0 0 0;
    }
}