@import url('./_hidden/search-result__mark-alert-container_hidden.css');

.search-result__mark-alert-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 159px;
    height: 40px;
    top: 24px;
    right: 69px;
    border-radius: 8px;
    background-color: #fff;
}