.footer-section__copyrights {
    margin-left: 104px;
    align-self: center;
    font-size: 16px;
    color: #B6BCBF;
}

@media screen and (min-width: 320px) and (max-device-width: 767px) {
    .footer-section__copyrights {
        order: 1;
        margin-left: 0px;
        align-self: center;
        font-size: 16px;
        color: #b6bcbf;
    }
}

@media screen and (min-width: 768px) and (max-device-width: 1023px){
    .footer-section__copyrights {
        margin-left: 40px;
    }
}

@media screen and (min-width: 1024px) and (max-device-width: 1356px) {
    .footer-section__copyrights {
        margin-left: 54px;
    }
}