.search-section__search-input {
    width: -webkit-fill-available;
    height: 54px;
    background-color: #fff;
    padding-left: 5%;
    border: 2px solid #00f0;
    border-radius: 100px;
}

.search-section__search-input::placeholder {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    color: gray;
}

.search-section__search-input:focus {
    outline: none;
    border: 2px solid #2f71e5;
}

@media screen and (min-width: 320px) and (max-device-width: 767px){
    .search-section__search-input {
        width: -webkit-fill-available;
        height: 54px;
        background-color: #fff;
        padding-left: 5%;
        border: 0px solid rgba(0,0,255,0);
        border-radius: 100px;
    }
}