.search-section__search-input {
    width: -webkit-fill-available;
    height: 54px;
    background-color: #fff;
    padding-left: 5%;
    border: 2px solid #00f0;
    border-radius: 100px;
}

.search-section__search-input::placeholder {
    color: gray;
    font-size: 16px;
}

.search-section__search-input:focus {
    outline: none;
    border: 2px solid #2f71e5;
}