.search-section__search-field {
    display: flex;
    position: relative;
    margin-top: 64px;
}

@media screen and (min-width: 320px) and (max-device-width: 480px){
    .search-section__search-field {
        position: unset;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 122px;
        height: 128px;
    }
}
