@import url('./header/header.css');
@import url('./search-section/search-section.css');

.header-section {
    background-image: url('../../../images/main.png');
    height: 576px;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 320px) and (max-device-width: 480px) {
    .header-section {
        background-image: url('../../../images/main.png');
        height: 536px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        background-position: center center;
    }
}