.search-result__card-title {
    font-family: "Roboto Slab", "Arial", "Helvetica", "sans-serif";
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    margin: 0px;
    margin-top: 12px;
}

@media screen and (min-width: 320px) and (max-device-width: 767px) {
    .search-result__card-title {
        font-family: "Roboto Slab", Arial, Helvetica, "sans-serif";
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        margin: 10px 0 0;
    }
}