.search-result__title {
    font-family: "Roboto Slab", "Arial", "Helvetica", "sans-serif";
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    width: 1252px;
    margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-device-width: 767px) {
    .search-result__title {
        font-family: "Roboto Slab", Arial, Helvetica, "sans-serif";
        font-weight: 400;
        font-size: 30px;
        line-height: 34px;
        margin: 32px 0 24px 0;
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-device-width: 1023px) {
    .search-result__title {
        width: auto;
        margin: 0px;
        font-size: 30px;
        line-height: 34px;
    }
}

@media screen and (min-width: 1024px) and (max-device-width: 1356px) {
    .search-result__title {
        width: auto;
    }
}