@import url('./__container/search-section__container.css');
@import url('./__err-field/search-section__err-field.css');
@import url('./__err-message/search-section__err-message.css');
@import url('./__paragraph/search-section__paragraph.css');
@import url('./__search-button/search-section__search-button.css');
@import url('./__search-field/search-section__search-field.css');
@import url('./__search-input/search-section__search-input.css');
@import url('./__title/search-section__title.css');

.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0 80px 0;
}

@media screen and (min-width: 320px) and (max-device-width: 767px){
    .search-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5%;
        margin: 0px;
    }
}