.search-section__title {
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    color: white;
    margin: 0px;
}

@media screen and (min-width: 320px) and (max-device-width: 767px){
    .search-section__title {
        font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;
        color: #fff;
        margin: 30px 0 0 0;
    }
}