.popup-section__mini-menu-navigation {
    
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .popup-section__mini-menu-navigation {
        display: flex;
        flex-direction: column;
        height: 70%;
        padding: 0 16px 24px;
    }
}