.search-result__text {
    font-family: "Roboto", "Arial", "Helvetica", "sans-serif";
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0px;
    margin-top: 16px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .search-result__text {
        font-family: "Roboto",Arial,Helvetica,"sans-serif";
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        margin: 10px 0 0;
    }
}