.search-result__tag-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 40px;
    top: 24px;
    right: 290px;
    border-radius: 8px;
    background-color: #fff;
}

@media screen and (min-width: 320px) and (max-device-width: 767px) {
    .search-result__tag-container {
        right: 180px;
    }
}

@media screen and (min-width: 768px) and (max-device-width: 1024px) {
    .search-result__tag-container {
        right: 124px;
    }
}