@import url('./_bold/title-section__description_bold.css');

.title-section__description {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

@media screen and (min-width: 320px) and (max-device-width: 480px) {
    .title-section__description {
        margin: 0px;
        font-size: 18px;
        line-height: 24px;
    }
}