@import url('./__title/title-section__title.css');
@import url('./__description-container/title-section__description-container.css');
@import url('./__description/title-section__description.css');
@import url('./__paragraph/title-section__paragraph.css');

.title-section {
    /* height: 294px; */
    padding-left: 104px;
}

@media screen and (min-width: 320px) and (max-device-width: 767px) {
    .title-section {
        padding: 0 5%;
    }
}

@media screen and (min-width: 768px) and (max-device-width: 1356px) {
    .title-section {
        padding-left: 40px;
    }
}