.search-result__card-container {
    width: 1252px;
    display: flex;
    flex-wrap: wrap;
    margin: 64px auto 0;
}

@media screen and (min-width: 320px) and (max-device-width: 767px) {
    .search-result__card-container {
        width: 100%;
        display: flex;
        justify-content: unset;
        flex-direction: unset;
        align-items: center;
        margin: 0;
    }
}

@media screen and (min-width: 320px) and (max-device-width: 675px) {
    .search-result__card-container {
        justify-content: center;
    }
}

@media screen and (min-width: 768px) and (max-device-width: 1023px){
    .search-result__card-container {
        width: auto;
        flex-wrap: nowrap;
        margin-top: 32px;
    }
}

@media screen and (min-width: 1024px) and (max-device-width: 1356px) {
    .search-result__card-container {
        width: auto;
    }
}